{% extends 'base.html' %}
{% load static %}
{% block base %}
<script src="https://cdn.tailwindcss.com"></script>
<div class="relative text-black w-[379px] m-auto block">
    <img class="m-auto" src="{% static 'images/bkashImages/bkashSuccess.png' %}">
    <p class="absolute text-center text-white font-semibold text-xl top-[14rem] right-[6rem]">Payment Complete!</p>
    <a href="{% url 'bkashHome' %}" class="absolute text-lg text-black font-semibold  bottom-[4rem] right-[7.5rem]">Return to order</a>

</div>

{% endblock base %}